<app-nav-bar></app-nav-bar>
<br>


<div class="holder container" >
  <div class="bg-light shadow-sm  holder p-1"> <small><h4>Datos de Visita</h4></small></div>

  <form class="p-3" autocomplete="off" [formGroup]="myForms"  (ngSubmit)="ingresar()">
    <div class="row">
      <div class="col-md-3">
        <label for="inputCity">DNI</label>
        <input type="text" class="form-control " placeholder="Ingrese número" id="inputGroup-sizing-sm"
        formControlName="documento"
        [class.is-invalid]="documentoisInvalid">
        <small *ngIf="documentoisInvalid" class="text-danger">Ingrese un DNI valido</small>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn buttoncolor right buttonposition" onclick="consultar()">Consultar</button>
      </div>
      <div class="col-md-6">
        <label for="inputState">Nombre y apellido</label>
        <p></p>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-3">
        <label>Nro. de tarjeta de ingreso</label>
        <input type="text" class="form-control" placeholder="Ingrese número"
        formControlName="numeroTarjeta"
        [class.is-invalid]="numTarjetaisInvalid">
        <small *ngIf="numTarjetaisInvalid" class="text-danger">Ingrese número de tarjeta Válido</small>
      </div>
      <div class="col-md-3">
        <label>Fecha de ingreso</label>
        <p>{{ fecha | date:'d/M/yyyy'}}</p>
      </div>
      <div class="col-md-6">
        <label for="inputState">Hora de ingreso</label>
        <p>{{ fecha | date:'h:mm a'}}</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <label for="inputCity">Visita a</label>
        <select id="inputState" class="form-control">
          <option selected>Seleccione a la persona visitada</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="inputState">Sector</label>
        <select id="inputState" class="form-control" [(ngModel)]="selectedSector.id" [ngModelOptions]="{ standalone: true }" (change)="onSelect($event.target.value)" >
          <option selected>Seleccione sector de la persona visitada</option>
          <option *ngFor="let sector of area" value={{sector.id}}> {{sector.sector}} </option>
        </select>
      </div>
    </div>
    <br>
    <button type="submit" class="btn buttoncolor right">Ingresar</button>
  </form>
  <br>
  <br>
  <br>
  <div class="bg-light shadow-sm holder p-1 m-1"> <small><h4>Historia de la visita</h4></small></div>
  <div class="holder p-1"> <small><h4>Visitas de </h4></small></div>
  <div class="row m-2">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Hora de Ingreso</th>
            <th>Visitó a</th>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td> </td>
              <td> {{ fecha | date:'d/M/yyyy'}} </td>
              <td> {{ fecha | date:'h:mm a'}} </td>
              <td>  </td>
            </tr>
          </tbody>
      </table>
    </div> 
  </div>  

  
</div>

<hr>

<pre>
  estado furmulario: {{ myForms.valid }}

  status: {{myForms.status}}
  {{myForms.value | json }}

 
</pre>

{{ visito | json }}

