<app-nav-bar></app-nav-bar>
<br>


<div class="holder container" >
  <div class="bg-light shadow-sm  holder p-1"> <small><h4>Datos de Visita</h4></small></div>

  <form class="p-3" autocomplete="off" [formGroup]="myForms"  (ngSubmit)="ingresar()">
    <div class="row">
      <div class="col-md-3">
        <label for="inputCity">DNI</label>
        <input type="text" class="form-control " placeholder="Ingrese número" id="inputGroup-sizing-sm"
        formControlName="documento"
        [class.is-invalid]="documentoisInvalid"
        >
        <small *ngIf="documentoisInvalid" class="text-danger">Ingrese un DNI valido</small>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn buttoncolor right buttonposition" (click)="consultar()">Consultar</button>
      </div>
      <div class="col-md-6">
        <label for="inputState">Nombre y apellido</label>
        <p *ngIf="validacionDni?.length > 0; else elseBlock"><small>{{usuariotraido | json }}</small></p>
        <ng-template #elseBlock><br><small class="text-danger">No se encontro ningún registro</small>  </ng-template>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-3">
        <label>Nro. de tarjeta de ingreso</label>
        <input type="text" class="form-control" placeholder="Ingrese número"
        formControlName="numeroTarjeta"
        [class.is-invalid]="numTarjetaisInvalid">
        <small *ngIf="numTarjetaisInvalid" class="text-danger">Ingrese número de tarjeta Válido</small>
      </div>
      <div class="col-md-3">
        <label>Fecha de ingreso</label>
        <p>{{ fecha | date:'d/M/yyyy'}}</p>
      </div>
      <div class="col-md-6">
        <label for="inputState">Hora de ingreso</label>
        <p>{{ fecha | date:'h:mm a'}}</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <label for="inputCity">Visita a</label>
       
        <select formControlName="visita" [class.is-invalid]="visitasInvalid"  id="inputState" class="form-control">
          <option value="" disabled selected hidden>Seleccione a la persona visitada</option>
          <option  *ngFor="let nombre of visito" value={{nombre.id}}>{{nombre.nombre}}</option>
        </select>
        <small *ngIf="visitasInvalid" class="text-danger">Seleccione a la persona que va visitar</small>
      </div>
      <div class="col-md-6">
        <label for="inputState">Sector</label>
        <select id="inputState" formControlName="sector" [class.is-invalid]="sectorInvalid" class="form-control" (change)="onSelect($event.target.value)" >
          <option value="" disabled selected hidden>Seleccione sector de la persona visitada</option>
          <option *ngFor="let sector of area" value={{sector.id}} > {{sector.sector}} </option>
          
        </select>
        <small *ngIf="sectorInvalid" class="text-danger">Seleccione un sector</small>
      </div>
    </div>
    <br>
    <button type="submit" class="btn buttoncolor right">Ingresar</button>
  </form>
  <br>
  <br>
  <br>
  <div class="bg-light shadow-sm holder p-1 m-1"> <small><h4>Historia de la visita</h4></small></div>
  <div class="holder p-1"> <small><h4>Visitas de </h4></small></div>
  <div class="row m-2">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Hora de Ingreso</th>
            <th>Visitó a</th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let visita of historial | paginate: {itemsPerPage: 5, currentPage: pageAct}">
              <td>{{ visita.id }}</td>
              <td>{{ visita.fecha | date:'d/M/yyyy' }}</td>
              <td>{{ visita.fecha |  date:'h:mm a' }}</td>
              <td>{{ visita.nombre }}  </td>
            </tr>
          </tbody>
      </table>
      <br>
      <pagination-controls  class="right custom-pagination" 
                            (pageChange)="pageAct = $event"
                            previousLabel=" " nextLabel=" "></pagination-controls>
    </div> 
    
  </div>  
  <br>  
</div>







